{% extends 'blog_base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
<script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
<script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="publish center-block">
    <form action="" method="post">{% csrf_token %}
      {{ form.title }}
      {{ form.content }}
      {{ form.tags }}
      <button type="submit" class="btn btn-primary">发 布</button>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var editor = new Editor();
  editor.render();
</script>
{% endblock %}
